# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Build
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/*.db

# Logs
*.log
npm-debug.log*

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Vercel
.vercel

# Testing
coverage/
